*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecera-pagina{
    position: relative;
    height: 6.8 vh;
    width: 100%;
    background-color:#44B5F5;
    padding: 12px;
    display: inline-block;
}

.nombre-app{
    padding-left: 40px;
    float: left;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.lema-app{
    float: right;
    padding-right: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.contiene-tareas{
    padding: 10vh;
    width: 60%;
}

.titulo-tareas{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
    color:#3372DE;
}

.nombre-tareas{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}

.mueve-tareas{
    position: relative;
}

.scroll-tareas{
    overflow: hidden;
    height: 200px !important;
    display: flexbox;
    width: 100%;
}

.tarea-esquema{
    position: relative;
    display: inline-flexbox;
    padding-bottom: 15px;
    margin-top: 25px;
    height: 100%;
    align-items: center;
    width: 100%;
}

.descripcion-tarea{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.contiene-botones{
    padding-top: 15px;
    text-align: right;
}

.separa-botones{
    margin-right: 10px;
    color: white !important;
}

.contiene-acciones{
    width: 50%;
    display: flex; 
    justify-content: center; 
}

.boton-accion-1{
    width: 30%;
    margin-right: 25px;
    color: white !important;
    font-family: 'Oswald', sans-serif;
    background: #44B5F5 !important;
    border-color: #44B5F5 !important;
}

.boton-accion-2{
    width: 30%;
    margin-right: 25px;
    color: white !important;
    font-family: 'Oswald', sans-serif;
    background: #F54753 !important;
    border-color:#F54753 !important;
}


.agrega-boton{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.ventana-emergente{
    top: 0%;
    width: 100%;
    height: 100%;
    padding: 40px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.6);
    transition: all 600ms;
}

.ventana-emergente:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.ventana-saliente{
    width: 100%;
    max-width: 800px;
    height: 600px;
    position: relative;
    background: white;
    display: flex;
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    transition: all 600ms;
}

.img{
    width: 40%;
    background-image: url(https://guiauniversitaria.mx/wp-content/uploads/2019/04/%C2%BFHaces-m%C3%A1s-de-una-tarea-a-la-vez_-Conoce-las-ventajas-y-desventajas-de-ser-multitasking-1-1068x635.jpg);
    background-size: cover;
    background-position: center;
    overflow-y: auto;
}

.contiene-form{
    text-align: center;
    width: 60%;
    padding: 50px;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
}

.contiene-form h1{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}


.btn-cerrar-ventana{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 20px;
    background: red;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    line-height: 10px;
}

.btn-cerrar-ventana:hover{
    color: white;
}

@media screen and (max-width: 900px){
    .ventana-saliente{
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }

    .img{
        width: 100%;
        height: 40%;
    }

    .contiene-form{
        width: 100%;
        height: 60%;
        padding: 80px;
    }

    .contiene-form h1{
        font-size: 22px ;
    }
}

@media screean and (max-width: 500px){
    .contiene-form{
        padding: 10px;
    }

    .contiene-form h1{
        font-size: 18x ;
    }

}


/*MODIFICA TAREA*/

.ventana-emergente-modifica{
    top: 0%;
    width: 100%;
    height: 100%;
    padding: 40px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.6);
    transition: all 600ms;
}

.ventana-emergente-modifica:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.ventana-saliente-modifica{
    width: 100%;
    max-width: 800px;
    height: 400px;
    position: relative;
    background: white;
    display: flex;
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    transition: all 600ms;
}

.img-modifica{
    width: 40%;
    background-image: url(https://store-images.s-microsoft.com/image/apps.46003.14259451864568504.ad5e5d07-0fbb-46ed-b9b6-a1b781645691.2ebcfa4e-172c-43d3-bf01-2d9a2a94e897?mode=scale&q=90&h=1080&w=1920);
    background-size: cover;
    background-position: center;
    overflow-y: auto;
}


@media screen and (max-width: 900px){
    .ventana-saliente-modifica{
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }

    .img-modifica{
        width: 100%;
        height: 40%;
    }
}
