*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-principal{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 72px;
    color:#44B5F5;
}

.cabecera-pagina{
    position: relative;
    height: 6.8 vh;
    width: 100%;
    background-color:#44B5F5;
    padding: 12px;
    display: inline-block;
}

.nombre-app{
    padding-left: 40px;
    float: left;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.lema-app{
    float: right;
    padding-right: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.agrega-boton{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.muestra-proyectos{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.muestra-proyectos button{
    font-size: 24px !important;
    background: white;
    z-index: 0 !important;
}



.icono{
    float: right;
    font-size: 24px;
}

.icono:hover{
    font-size: 28px;
}

.icono-entra{
    color: #22FF9A;
}

.icono-elimina{
    padding-left: 20px;
    color: red;
}

.ventana-emergente{
    top: 0%;
    width: 100%;
    height: 100%;
    padding: 40px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.6);
    transition: all 600ms;
}

.ventana-emergente:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.ventana-saliente{
    width: 100%;
    max-width: 800px;
    height: 600px;
    position: relative;
    background: white;
    display: flex;
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    transition: all 600ms;
}

.img{
    width: 40%;
    background-image: url(https://alternadr.com/wp-content/uploads/2016/11/como-encontrar-el-nombre-ideal-para-tus-proyectosempresas.jpg);
    background-size: cover;
    background-position: center;
    overflow-y: auto;
}

.contiene-form{
    text-align: center;
    width: 60%;
    padding: 50px;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
}

.contiene-form h1{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}


.btn-cerrar-ventana{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 20px;
    background: red;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    line-height: 10px;
}

.btn-cerrar-ventana:hover{
    color: white;
}

@media screen and (max-width: 900px){
    .ventana-saliente{
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }

    .img{
        width: 100%;
        height: 40%;
    }

    .contiene-form{
        width: 100%;
        height: 60%;
        padding: 80px;
    }

    .contiene-form h1{
        font-size: 22px ;
    }
}

@media screean and (max-width: 500px){
    .contiene-form{
        padding: 10px;
    }

    .contiene-form h1{
        font-size: 18x ;
    }

}